GALAXY_NOTE20_ULTRA                               RCDATA "LUADisplay\Galaxy-Note20-Ultra.png"
GALAXY_NOTE20_ULTRABLACK_LANDSCAPE                RCDATA "LUADisplay\Galaxy-Note20-UltraBlack.landscape.png"
GALAXY_NOTE20_ULTRASCREENDRESSING                 RCDATA "LUADisplay\Galaxy-Note20-UltraScreenDressing.png"
GALAXY_NOTE20_ULTRASCREENDRESSING_MASK            RCDATA "LUADisplay\Galaxy-Note20-UltraScreenDressing.mask.png"
GALAXY_NOTE20_ULTRASTATUSBARBLACK                 RCDATA "LUADisplay\Galaxy-Note20-UltraStatusBarBlack.png"
GALAXY_NOTE20_ULTRASTATUSBARBLACK_LANDSCAPE       RCDATA "LUADisplay\Galaxy-Note20-UltraStatusBarBlack.landscape.png"
GALAXY_NOTE20_ULTRASTATUSBARGRAY                  RCDATA "LUADisplay\Galaxy-Note20-UltraStatusBarGray.png"
GALAXY_NOTE20_ULTRASTATUSBARGRAY_LANDSCAPE        RCDATA "LUADisplay\Galaxy-Note20-UltraStatusBarGray.landscape.png"
GALAXY_NOTE20_ULTRASTATUSBARTRANSPARENT           RCDATA "LUADisplay\Galaxy-Note20-UltraStatusBarTransparent.png"
GALAXY_NOTE20_ULTRASTATUSBARTRANSPARENT_LANDSCAPE RCDATA "LUADisplay\Galaxy-Note20-UltraStatusBarTransparent.landscape.png"
GALAXY_NOTE20_ULTRASTATUSBARWHITE                 RCDATA "LUADisplay\Galaxy-Note20-UltraStatusBarWhite.png"
GALAXY_NOTE20_ULTRASTATUSBARWHITE_LANDSCAPE       RCDATA "LUADisplay\Galaxy-Note20-UltraStatusBarWhite.landscape.png"
HTC_8S                                            RCDATA "LUADisplay\HTC-8S.png"
IPADAIR                                           RCDATA "LUADisplay\iPadAir.png"
IPADMINI                                          RCDATA "LUADisplay\iPadMini.png"
IPADMINISTATUSBARBLACK                            RCDATA "LUADisplay\iPadMiniStatusBarBlack.png"
IPADMINISTATUSBARBLACK_LANDSCAPE                  RCDATA "LUADisplay\iPadMiniStatusBarBlack.landscape.png"
IPADMINISTATUSBARWHITE                            RCDATA "LUADisplay\iPadMiniStatusBarWhite.png"
IPADMINISTATUSBARWHITE_LANDSCAPE                  RCDATA "LUADisplay\iPadMiniStatusBarWhite.landscape.png"
IPADPRO                                           RCDATA "LUADisplay\iPadPro.png"
IPADPROSTATUSBARBLACK                             RCDATA "LUADisplay\iPadProStatusBarBlack.png"
IPADPROSTATUSBARBLACK_LANDSCAPE                   RCDATA "LUADisplay\iPadProStatusBarBlack.landscape.png"
IPADPROSTATUSBARWHITE                             RCDATA "LUADisplay\iPadProStatusBarWhite.png"
IPADPROSTATUSBARWHITE_LANDSCAPE                   RCDATA "LUADisplay\iPadProStatusBarWhite.landscape.png"
IPADSTATUSBARBLACK                                RCDATA "LUADisplay\iPadStatusBarBlack.png"
IPADSTATUSBARBLACK_LANDSCAPE                      RCDATA "LUADisplay\iPadStatusBarBlack.landscape.png"
IPADSTATUSBARWHITE                                RCDATA "LUADisplay\iPadStatusBarWhite.png"
IPADSTATUSBARWHITE_LANDSCAPE                      RCDATA "LUADisplay\iPadStatusBarWhite.landscape.png"
IPHONE4S                                          RCDATA "LUADisplay\iPhone4S.png"
IPHONE4STATUSBARBLACK                             RCDATA "LUADisplay\iPhone4StatusBarBlack.png"
IPHONE4STATUSBARBLACK_LANDSCAPE                   RCDATA "LUADisplay\iPhone4StatusBarBlack.landscape.png"
IPHONE4STATUSBARWHITE                             RCDATA "LUADisplay\iPhone4StatusBarWhite.png"
IPHONE4STATUSBARWHITE_LANDSCAPE                   RCDATA "LUADisplay\iPhone4StatusBarWhite.landscape.png"
IPHONE5                                           RCDATA "LUADisplay\iPhone5.png"
IPHONE5STATUSBARBLACK                             RCDATA "LUADisplay\iPhone5StatusBarBlack.png"
IPHONE5STATUSBARBLACK_LANDSCAPE                   RCDATA "LUADisplay\iPhone5StatusBarBlack.landscape.png"
IPHONE5STATUSBARWHITE                             RCDATA "LUADisplay\iPhone5StatusBarWhite.png"
IPHONE5STATUSBARWHITE_LANDSCAPE                   RCDATA "LUADisplay\iPhone5StatusBarWhite.landscape.png"
IPHONE6                                           RCDATA "LUADisplay\iPhone6.png"
IPHONE6PLUS                                       RCDATA "LUADisplay\iPhone6Plus.png"
IPHONE6PLUSSTATUSBARBLACK                         RCDATA "LUADisplay\iPhone6PlusStatusBarBlack.png"
IPHONE6PLUSSTATUSBARBLACK_LANDSCAPE               RCDATA "LUADisplay\iPhone6PlusStatusBarBlack.landscape.png"
IPHONE6PLUSSTATUSBARWHITE                         RCDATA "LUADisplay\iPhone6PlusStatusBarWhite.png"
IPHONE6PLUSSTATUSBARWHITE_LANDSCAPE               RCDATA "LUADisplay\iPhone6PlusStatusBarWhite.landscape.png"
IPHONE6STATUSBARBLACK                             RCDATA "LUADisplay\iPhone6StatusBarBlack.png"
IPHONE6STATUSBARBLACK_LANDSCAPE                   RCDATA "LUADisplay\iPhone6StatusBarBlack.landscape.png"
IPHONE6STATUSBARWHITE                             RCDATA "LUADisplay\iPhone6StatusBarWhite.png"
IPHONE6STATUSBARWHITE_LANDSCAPE                   RCDATA "LUADisplay\iPhone6StatusBarWhite.landscape.png"
IPHONEX                                           RCDATA "LUADisplay\iPhoneX.png"
IPHONEXSCREENDRESSING                             RCDATA "LUADisplay\iPhoneXScreenDressing.png"
IPHONEXSCREENDRESSING_MASK                        RCDATA "LUADisplay\iPhoneXScreenDressing.mask.png"
IPHONEXSCREENDRESSINGBORDERLESS                   RCDATA "LUADisplay\iPhoneXScreenDressingBorderless.png"
IPHONEXSCREENDRESSINGBORDERLESS_MASK              RCDATA "LUADisplay\iPhoneXScreenDressingBorderless.mask.png"
IPHONEXSTATUSBARBLACK                             RCDATA "LUADisplay\iPhoneXStatusBarBlack.png"
IPHONEXSTATUSBARBLACK_LANDSCAPE                   RCDATA "LUADisplay\iPhoneXStatusBarBlack.landscape.png"
IPHONEXSTATUSBARWHITE                             RCDATA "LUADisplay\iPhoneXStatusBarWhite.png"
IPHONEXSTATUSBARWHITE_LANDSCAPE                   RCDATA "LUADisplay\iPhoneXStatusBarWhite.landscape.png"
KINDLEFIREHD7                                     RCDATA "LUADisplay\KindleFireHD7.png"
KINDLEFIREHD9                                     RCDATA "LUADisplay\KindleFireHD9.png"
NOKIA_LUMIA_920                                   RCDATA "LUADisplay\Nokia-Lumia-920.png"
NX_SWITCH                                         RCDATA "LUADisplay\NX-Switch.png"
PIXEL_4A                                          RCDATA "LUADisplay\Pixel-4a.png"
PIXEL_4ASCREENDRESSING                            RCDATA "LUADisplay\Pixel-4aScreenDressing.png"
PIXEL_4ASCREENDRESSING_MASK                       RCDATA "LUADisplay\Pixel-4aScreenDressing.mask.png"
PIXEL_4ASTATUSBARBLACK                            RCDATA "LUADisplay\Pixel-4aStatusBarBlack.png"
PIXEL_4ASTATUSBARBLACK_LANDSCAPE                  RCDATA "LUADisplay\Pixel-4aStatusBarBlack.landscape.png"
PIXEL_4ASTATUSBARGRAY                             RCDATA "LUADisplay\Pixel-4aStatusBarGray.png"
PIXEL_4ASTATUSBARGRAY_LANDSCAPE                   RCDATA "LUADisplay\Pixel-4aStatusBarGray.landscape.png"
PIXEL_4ASTATUSBARTRANSPARENT                      RCDATA "LUADisplay\Pixel-4aStatusBarTransparent.png"
PIXEL_4ASTATUSBARTRANSPARENT_LANDSCAPE            RCDATA "LUADisplay\Pixel-4aStatusBarTransparent.landscape.png"
PIXEL_4ASTATUSBARWHITE                            RCDATA "LUADisplay\Pixel-4aStatusBarWhite.png"
PIXEL_4ASTATUSBARWHITE_LANDSCAPE                  RCDATA "LUADisplay\Pixel-4aStatusBarWhite.landscape.png"
SAMSUNG_ATIV_S                                    RCDATA "LUADisplay\Samsung-ATIV-S.png"
SAMSUNGGALAXY21SCREENDRESSING                     RCDATA "LUADisplay\SamsungGalaxy21ScreenDressing.png"
SAMSUNGGALAXY21SCREENDRESSING_MASK                RCDATA "LUADisplay\SamsungGalaxy21ScreenDressing.mask.png"
SAMSUNGGALAXYS21                                  RCDATA "LUADisplay\SamsungGalaxyS21.png"
SAMSUNGGALAXYSTATUSBARBLACK                       RCDATA "LUADisplay\SamsungGalaxyStatusBarBlack.png"
SAMSUNGGALAXYSTATUSBARBLACK_LANDSCAPE             RCDATA "LUADisplay\SamsungGalaxyStatusBarBlack.landscape.png"
SAMSUNGGALAXYSTATUSBARGRAY                        RCDATA "LUADisplay\SamsungGalaxyStatusBarGray.png"
SAMSUNGGALAXYSTATUSBARGRAY_LANDSCAPE              RCDATA "LUADisplay\SamsungGalaxyStatusBarGray.landscape.png"
SAMSUNGGALAXYSTATUSBARWHITE                       RCDATA "LUADisplay\SamsungGalaxyStatusBarWhite.png"
SAMSUNGGALAXYSTATUSBARWHITE_LANDSCAPE             RCDATA "LUADisplay\SamsungGalaxyStatusBarWhite.landscape.png"
